*{
  margin: 0;
  user-select: none;
}
body{
  background-color: #fef0e0;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.5;
}

/* ここからindex.html */
.index-body{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.index-header{
  margin: 30px 0;
}

.index-header-box{
  display: flex;
  justify-content: center;
}

.index-header-picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.index-header-h1{
  margin: auto 0;
  color: #6f7579;
}
.index-header-h2{
  background-color: #959ea7;
  color: white;
  width: max-content;
  margin: 0 auto;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.index-nav-ul{
  display: flex;
  list-style: none;
  color: #6f7579;
  justify-content: center;
}

.index-nav-ul>li{
  padding: 12px 48px;
  font-weight: bold;
}

.index-nav-ul>li>a{
  text-decoration: none;
  color: #6f7579;
}

.index-main{
  padding: 100px 0;
  background-color: #f0f3f5;
  border-radius: 20px;
}

.index-main-h1{
  color: #3b4043;
  width: fit-content;
  margin: 24px auto;
  font-size: 30px;
  border-bottom: #3b4043 4px solid;
}

.index-main-text1{
  color: #3b4043;
  width: 70%;
  font-size: 18px;
  margin: 0 auto;
}

.index-main-text2{
  color: #3b4043;
  width: 70%;
  font-size: 18px;
  text-align: left;
  margin: 0 auto;
}

.index-section1{
  margin: 120px 0;
}
.index-section1-h1{
  color: #6f7579;
  font-size: 30px;
  margin: 24px auto;
  width: fit-content;
  border-bottom: #6f7579 4px solid;
}

.index-section1-box1{
  display: flex;
  justify-content: center;
  padding: 10px 50px;
}

.index-section1-box2{
  display: flex;
  width: 40%;
}

.index-section1-logo{
  width: 70px;
  height: 50px;
}

.index-section1-text{
  font-size: 12px;
}

.index-section1-text2{
  font-size: 12px;
  text-align: left;
}

.index-section2-h1{
  margin: 30px auto;
  color: #6f7579;
  font-size: 30px;
  width: fit-content;
  border-bottom: #6f7579 4px solid;
}
.index-section2-box{
  width: 80%;
  display: flex;
  margin: 0 auto 50px;
}
.index-section2-text{
  font-size: 18px;
  text-align: left;
}
.index-section2-h2{
  margin: 24px 0;
  color:#3b4043;
}
.index-section2-picture{
  width: 120px;
  height: 180px;
  border-radius: 5px;
  margin: 0 12px;
}

.index-section3{
  margin: 60px auto;
}
.index-section3-h1{
  margin: 30px auto;
  color: #6f7579;
  font-size: 30px;
  width: fit-content;
  border-bottom: #6f7579 4px solid;
}
.index-section3-ul{
  list-style: none;
}
.index-section3-ul>li{
  font-size: 18px;
}


.index-footer{
  margin-top: 120px;
}
.index-footer-icon{
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
.index-footer-icon>a{
  font-size: 32px;
  display: block;
  margin: 0 8px;
  color:#3b4043;
  text-decoration: none;
}

.index-footer-box{
  display: flex;
  justify-content: center;
}

.index-footer-picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.index-footer-h1{
  margin: auto 0;
  color: #6f7579;
}

.index-footer-h2{
  background-color: #959ea7;
  color: white;
  width: max-content;
  margin: 0 auto;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.index-footer-text{
  background-color: #f0f3f5;
  color:#3b4043;
  border-radius: 10px;
}

/* ここからメディアクエリ */

@media(max-width: 1100px){
  .index-body{
    width: 800px;
  }
}

@media(max-width: 900px){
  .index-body{
    width: 80%;
  }
  
  .index-nav-ul>li{
    padding: 12px 24px;
  }
  
  .index-section1-box1{
    display: block;
  }
  
  .index-section1-box2{
    width: 100%;
    margin: 10px auto;
  }

  .index-section2-picture{
    display: none;
  }
}

@media(max-width:600px){
  .index-nav-ul{
    display: block;
  }

.index-section2-box{
  width: 80%;
  }
}
/* ここまでindex.html */


/* ここからworks.html */
.works-body{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.works-header{
  margin: 30px 0;
}

.works-header-box{
  display: flex;
  justify-content: center;
}

.works-header-picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.works-header-h1{
  margin: auto 0;
  color: #6f7579;
}
.works-header-h2{
  background-color: #959ea7;
  color: white;
  width: max-content;
  margin: 0 auto;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.works-nav-ul{
  display: flex;
  list-style: none;
  color: #6f7579;
  justify-content: center;
}

.works-nav-ul>li{
  padding: 12px 48px;
  font-weight: bold;
}

.works-nav-ul>li>a{
  text-decoration: none;
  color: #6f7579;
}

.works-main{
  padding: 100px 0;
  background-color: #f0f3f5;
  border-radius: 20px;
}

.works-main-h1{
  color: #3b4043;
  width: fit-content;
  margin: 24px auto;
  border-bottom: #3b4043 4px solid;
}

.works-main-worksBox{
  display: flex;
  justify-content: space-between;
}

.works-main-works{
  width: 300px;
  height: 300px;
}
.works-main-title{
  font-size: 24px;
}
.works-main-box>a{
  color: #3b4043;
  font-size: 18px;
}
.works-main-text{
  text-align: left;
  font-size: 18px;
  padding: 24px;
}

.works-footer{
  margin-top: 120px;
}
.works-footer>a{
  font-size: 48px;
  display: block;
  color:#3b4043;
  text-decoration: none;
}

.works-footer-box{
  display: flex;
  justify-content: center;
}

.works-footer-picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.works-footer-h1{
  margin: auto 0;
  color: #6f7579;
}

.works-footer-h2{
  background-color: #959ea7;
  color: white;
  width: max-content;
  margin: 0 auto;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.works-footer-text{
  background-color: #f0f3f5;
  color:#3b4043;
  border-radius: 10px;
}

/* ここからメディアクエリ */

@media(max-width: 1100px){
  .works-body{
    width: 800px;
  }
  
  .works-main-worksBox{
    display: block;
  }

  .works-main-box{
    width: 300px;
    margin: 30px auto;
  }
  
}

@media(max-width: 900px){
  .works-body{
    width: 80%;
  }
  
  .works-nav-ul>li{
    padding: 12px 24px;
  }
}

@media(max-width:600px){
  .works-nav-ul{
    display: block;
  }
}

@media(max-width:400px){
  .works-main-works{
    width: 250px;
    height: 250px;
  }
}

@media(max-width:300px){
  .works-main-works{
    width: 150px;
    height: 150px;
  }
}
/* ここまでworks.html */